$danger: red;

.danger {
  color: $danger;
}

.test {
  border: 2px solid $danger;
  padding: 24px;
  display: flex;
  justify-content: space-around;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  width: 90%;
}

.placeholder {
  width: 300px;
  height: 250px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

button {
  padding: 8px;
}

.comment-count {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: black;
  color: white;
}
