$danger: red;

.danger {
  color: $danger;
}

.test {
  border: 2px solid $danger;
  padding: 24px;
  display: flex;
  justify-content: space-around;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.container {
  width: 95%;
}

.placeholder {
  width: 300px;
  height: 250px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

button {
  padding: 8px;
}

.user-name {
  font-weight: bold;
}

.comment-date {
  font-size: small;
  font-style: italic;
}

.comment-count {
  padding: 2px 4px;
  border-radius: 4px;
  background-color: black;
  color: white;
}

.comment-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  input,
  textarea {
    width: 80%;
    min-height: 36px;
    padding: 8px;

    &::placeholder {
      font-size: 18px;
    }
  }

  .submit-btn {
    width: 50%;
    min-width: 150px;
    background-color: #167ec3;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 18px;
    color: white;
    font-weight: bold;
  }
}

#search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#search-form {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  background: lightgrey;

  input {
    width: 80%;
    border: none;
    background: white;
    padding-left: 8px;
  }

  button {
    border: none;
  }
}
