footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    padding: 16px;
    border: none;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: #09568a;
    color: white;
    text-align: center;

    a {
      color: white;
      font-weight: bold;
    }
  }
}
