.header-nav {
  position: sticky;
  height: 50px;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  padding-bottom: 50px;
}

.logo {
  margin-left: 8%;
  border-radius: 20px;
  width: 80px;
}

.for-logo-img {
  width: 80px;
  padding: 12px;
}

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-right: 10%;
  padding: 2px;
}

.nav-links a {
  color: rgb(214, 130, 130);
  font-size: 28px;
  font-weight: 800;
}
